$theme:#3399ff;
li{
    list-style: none;
}
input{
    outline: none;
}
i{
    font-style: normal;
}
input:focus{
    border-color:$theme;
}
.login-container {
    text-align: center;
    width: 5*80px;
    margin: 0 auto;
}

.login-top-bg {
    background: url(../assets/login/login-bg.png) no-repeat top;
    background-size: cover;
    padding-top: 1.4*80px;
}

.user-icon {
    background-image: url(../assets/login/user-icon.png);
}

.pswd-icon {
    background-image: url(../assets/login/pswd-icon.png);
}

.login-btn {
    .btn {
        width: 3.6*80px;
        height: .48*80px;
        line-height: .48*80px;
        display: inline-block;
    }
}

.btn {
    background: $theme;
    display: inline-block;
    height: .72*80px;
    line-height: .72*80px;
    color: #fff;
    font-size: .2*80px;
    text-align: center;
    border: none;
    transition: background .3s;
    &:hover {
        background: lighten($theme, 10%);
    }
    &:focus {
        border: none;
    }
}

.login-btn {
    padding: .3*80px .5*80px;
    text-align: center;
    background: #f4f4f4;
}

.checkbox-icon {
    display: inline-block;
    width: 0.16*80px;
    height: 0.16*80px;
    line-height: 0.14*80px;
    border: 1px solid #fff;
    overflow: hidden;
}

.client-down {
    font-size: .14*80px;
    padding: .38*80px 0;
    a {
        color: lighten($theme, 10%);
        text-decoration: underline;
    }
}

.lg-copy {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .12*80px;
    text-align: center;
    background: #e4e4e4;
    padding: .1*80px .5*80px;
    color: #777;
    .block {
        display: block;
    }
}

.id-code {
    font-size: .14*80px;
    margin-top: .3*80px;
    .code-input {
        height: .48*80px;
        line-height: .48*80px;
        background: none;
        padding: 0.1*80px;
        border: 1px solid #fff;
        width: 35%;
        display: block;
        float: left;
        &:focus{
            border:1px solid lighten($theme,5%);
        }
    }
    .id-code-img {
        width: 55%;
        float: right;
        img {
            width: 100%;
            height: .48*80px;
            line-height: .48*80px;
        }
    }
}

.pswd {
    i {
        text-align: center;
        &:after {
            background: none;
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            transition: all 0.3s;
            transform: scale(0);
            opacity: 0;
        }
    }
    input:checked~i {
        &:after {
            width: 100%;
            height: 100%;
            background: $theme;
            transition: all 0.3s;
            transform: scale(1);
            transform-origin: center;
            opacity: 1;
        }
    }
}

.qr-box {
    width: 1.5*80px;
    font-size: .14*80px;
    display: inline-block;
    font-weight: 200;
    padding-top: .32*80px;
    img {
        display: block;
        width: 100%;
        margin-bottom: .15*80px;
    }
    &+.qr-box {
        margin-left: .55*80px;
    }
}

.admin-logo {
    .logo {
        margin-left: -.4*80px
    }
    color: #fff;
    .logo-pic {
        background: url(../assets/login/admin-logo.png);
        width: 2.24*80px;
        background-size: 2.24*80px;
        background-size: cover;
        height: .55*80px;
    }
    .logo-txt {
        font-size: .46*80px;
        font-weight: 200;
        line-height: .55*80px;
        padding: .08*80px 0 0 .2*80px;
        position: relative;
        &::before {
            content: '';
            height: 0.1*80px;
            width: 0.1*80px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            left: .05*80px;
            top: .31*80px;
        }
    }
    .short-des {
        font-size: .16*80px;
        font-weight: 200;
        padding: .2*80px 0 .2*80px 0*80px;
        span {
            display: inline-blockl;
        }
        span+span {
            margin-left: .2*80px;
        }
    }
}

.login-form {
    color: #fff;
    width: 3.6*80px;
    margin: .5*80px auto 0;
    padding: 0;
    .dt {
        font-size: .14*80px;
        font-weight: 200;
        padding: .15*80px 0;
        a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .input-box {
        width: 3.6*80px;
        height: .48*80px;
        line-height: .48*80px;
        font-size: .16*80px;
        font-weight: 200;
        text-align: left;
        display: block;
        position: relative;
        margin-top: .3*80px;
        &:first-child {
            margin-top: 0;
        }
        i {
            width: .48*80px;
            height: .48*80px;
            background-size: .32*80px;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            margin-left: .1*80px;
            position: absolute;
            right: 0;
            top: 0;
        }
        input {
            display: block;
            height: 100%;
            width: 100%;
            padding: 0 0.53*80px 0 .2*80px;
            background: transparent;
            border:1px solid #fff;
            &:focus{
                border: 1px solid lighten($theme, 5%);
            }
        }
    }
}